{% extends "::base.html.twig" %}
{% block top %}
    {{ parent() }}
    {% include "::navbar.html.twig" %}
{% endblock %}
{% block body %}

    {% javascripts '@LEAProfBundle/Resources/Js/choisir.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <div>
        <br/>

        <form action="{{  path('lea_prof_changeForm',{'name':name}) }}" method="post">
            <span>Choisissez la formation : </span>
            <select id="formation" name="formation" class="form-control" >
                {% for forma in listForm.keys %}
                    {% if forma==formation %}
                        <option value="{{ forma }}" selected="selected">{{ listForm.values[loop.index-1] }}</option>
                    {% else %}
                        <option value="{{ forma }}">{{ listForm.values[loop.index-1] }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </form>
        <br/>

        <form  method="post">
            <span>Choisir situation : </span>
            <select id="situ" name="situ" class="form-control" >
                {% for situ in choixTuteur.keys %}
                    {% if situ==situation %}
                        <option value="{{ situ }}" selected="selected">{{ choixTuteur.values[loop.index-1] }}</option>
                    {% else %}
                        <option value="{{ situ }}">{{ choixTuteur.values[loop.index-1] }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </form>
    </div>
    <br/>

    <h2>Informations sur les étudiants</h2>
    &nbsp;&nbsp;&nbsp; - cochez les cases des étudiants qui vous intéressent, puis transmettez vos choix.
    <br/><br/>


    {{ form_start(form) }}

        {{ form_errors(form) }}


        <table class="table">
        <thead>
                <tr class="entete">
                <th> </th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Formation</th>
                <th>Ville</th>
                <th>Entreprise</th>
                <th>Tuteurs(potentiels)</th>
                <th>Détails</th>
            </tr>
    </thead>

        {% if listEtu %}

                {% for etu in listEtu %}

                    {% if (situation=="EXCL" or situation=="NON") and etu.tuteurs.tuteurRef=="aucun" %}
                        <tr>
                    {% elseif situation=="OUI" and etu.tuteurs.tuteurRef!="aucun" %}
                        <tr>
                    {% elseif situation=="ENTR" and etu.entreprise!="__sans entreprise__" %}
                        <tr>
                    {% elseif situation=="OUI" %}
                        <tr style="display: none">
                    {% endif %}

                    <td>{{ form_row(form.altCle[loop.index-1]) }}</td>
                            <td>{{ etu.nom_etud }}</td>
                            <td>{{ etu.nom_prenom }}</td>
                            <td>{{ etu.formation }}</td>
                            <td>{{ etu.ville }}/<a href="{{ etu.lienDistance }}">{{ etu.distance }}</a></td>
                            <td>{{ etu.entreprise }}</td>
                            <td align="center"><b>{{ etu.tuteurs.tuteurRef }}</b></td>
                            <td onclick="showModal({{ etu.alternanceCle }})"><a href="#">Détails</a></td>
                            <td id= "{{ etu.alternanceCle }}" style="display: none" >
                                <table class="table table-default">
                                    <tr><td>Etudiant </td> <td> {{ etu.nom_etud }}</td></tr>
                                    <tr><td>Referent</td> <td> {{ etu.referent }}</td></tr>
                                    <tr><td>Missions</td><td> {{ etu.mission }}</td></tr>
                                    <tr><td>Services</td><td> {{ etu.service }}</td></tr>
                                    <tr><td>Envirnmnt Tech.</td><td> {{ etu.tech }}</td></tr>
                                    <tr><td><a onclick="hideModal({{ etu.alternanceCle }})">Cacher </a></td><td></td></tr>
                                </table>
                            </td>
                        </tr>

                {% endfor %}
        </table>

        {% endif %}

    <input type="submit" name="Enregistrer" value="Transmettre vos choix" class="btn btn-primary"/>

    {{ form_end(form) }}

{% endblock %}