{% extends "::base.html.twig" %}
{% block top %}
    {{ parent() }}
    {% include "LEAProfBundle:Default:navbar.html.twig" %}
{% endblock %}
{% block body %}

    {% javascripts '@LEAProfBundle/Resources/Js/choisir.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% javascripts '@LEAProfBundle/Resources/Js/choisirAction.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <div class="menuitem2-current" id="item_0"><a href="#">Vos étudiants</a></div>

    <div id="cadre_0" class="contenu-item2 on">


    <div>
        <br/>
        <form action="{{  path('lea_prof_changeForm',{'name':name}) }}" method="post">
            <span>Choisissez la formation : </span>
            <select id="formation" name="formation" class="form-control">
                <option value="{{ aucune }}">aucune</option>
                {% for forma in listForm %}
                    {% if forma.formationCle == formation %}
                        <option value="{{ forma.formationCle }}" selected="selected">{{ forma.nom }}</option>
                    {% else %}
                        <option value="{{ forma.formationCle }}">{{ forma.nom }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </form>
    </div>
    <br/>


    <table class="edt" style="font-size:9pt">
        <thead>
        <tr class="entete">
            <th>Nom</th>
            <th>Formation</th>
            <th>Ville</th>
            <th>Entreprise</th>
            <th>Référent</th>
            <th>Actions</th>
        </tr>
        </thead>

        <tbody>

        {% if listEtu %}
        {% for etu in listEtu %}
            <tr class="cours">
                <td>{{ etu.nom_etud }} {{ etu.prenom_etud }}</td>
                <td>{{ etu.formation }}</td>
                <td>{{ etu.ville }}</td>
                <td>{{ etu.entreprise }}</td>
                <td>{{ etu.referent }}</td>
                <td>
                    <form>
                        <select name="action" onchange="redirectAction('{{ etu.alternanceCle }}',this.value)">
                            {% for action in actions.keys %}
                                <option value="{{ action }}">{{ actions.values[loop.index-1] }}</option>
                            {% endfor %}
                        </select>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% endif %}
    </div>


{% endblock %}
