{% extends "::base.html.twig" %}
{% block top %}
    {{ parent() }}
    {% include "::navbar.html.twig" %}
{% endblock %}
{% block body %}

    {% if post %}
        <p>Informations de rencontre mises à jour!</p>
    {% endif %}
    <table align='center' style='border-width: 0px;border-style:solid;font-size:11px' width='95%'>
        <tr class="entete">
            <td>
                {{ infos.et_pn }}
            </td>
        </tr>
        <tr>
            <td style="border-width: 1px; border-style:solid;" width="95%">
                <b>Date rencontre (aaaa-mm-jj) : </b>{{ infos.dateRencontre }}<br/>
                <b>Entreprise chosie : </b>{{ infos.entreprise }}<br/>
                <b>Service/Projet : </b>{{ infos.service }}<br/>
                <b>(éventuellement client) : </b>{{ infos.client }}<br/>
            </td>
        </tr>
        <tr>
            <td>
                <div style="border-width: 1px; border-style:solid;" width="95%">
                    <b>Quels sont (ou seront) les missions confiées ?</b><br/>
                    <div width="95%">
                        <p style="text-align:left; margin-top:0">{{ infos.missions }}</p>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div style="border-width: 1px; border-style:solid;" width="95%">
                    <b>Dans quel environnement technique ?</b><br/>
                    <div width="95%">
                        <p style="text-align:left; margin-top:0">{{ infos.environnementTechnique }}</p>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div style="border-width: 1px; border-style:solid;" width="95%">
                    <b>Comment se passe l'intégration dans l'entreprise ?</b><br/>
                    <div width="95%">
                        <p style="text-align:left; margin-top:0">{{ infos.integrationEntreprise }}</p>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div style="border-width: 1px; border-style:solid;" width="95%">
                    <b>Validation de l'étudiant </b>{{ infos.signatureEtud }}. (remarques éventuelles)<br/>
                    <div width="95%">
                        <p style="text-align:left; margin-top:0">{{ infos.remarquesEtud }}</p>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div style="border-width: 1px; border-style:solid;" width="95%">
                    <b>Validation du tuteur </b>{{ infos.signatureTuteur }}. (remarques éventuelles)<br/>
                    <div width="95%">
                        <p style="text-align:left; margin-top:0">{{ infos.remarquesTuteur }}</p>
                    </div>
                </div>
            </td>
        </tr>
    </table>
    <br>
    <a href="{{ path("lea_prof_etuAttribues") }}"><button class="button">Retour</button></a><a href="{{ path("lea_prof_etuRencontreEdit",{ 'name': name}) }}"><button class="button">Modifier</button></a>

{% endblock %}