{% extends "::base.html.twig" %}
{% block top %}
    {{ parent() }}
    {% include "::navbar.html.twig" %}
{% endblock %}
{% block body %}

    {% if post %}
        <p>Informations de première visite mises à jour!</p>
    {% endif %}
    <b>L'ETUDIANT : {{ infos.et_pn }}</b><br/>
    <table>
        <tr>
            <td>Date rencontre (aaaa-mm-jj)</td>
            <td>{{ infos.dateRencontre }}</td>
        </tr>
        <tr>
            <td>Le travail est-il en adéquation avec la mission confiée ?</td>
            <td>{{ infos.adequationMission }}</td>
        </tr>
        <tr>
            <td>Comment s'est passé l'intégration de l'étudiant ?</td>
            <td>{{ infos.integrationEtudiant }}</td>
        </tr>
        <tr>
            <td>Validation de l'étudiant</td>
            <td>{{ infos.signatureEtud }}</td>
        </tr>
        <tr>
            <td>Remarques éventuelles</td>
            <td>{{ infos.remarquesEtud }}</td>
        </tr>
        <tr>
            <td>Validation du référent</td>
            <td>{{ infos.signatureReferent }}</td>
        </tr>
        <tr>
            <td>Remarques éventuelles)</td>
            <td>{{ infos.remarquesReferent }}</td>
        </tr>
        <tr>
            <td>Validation du tuteur</td>
            <td>{{ infos.signatureTuteur }}</td>
        </tr>
            <td>Remarques éventuelles</td>
            <td>{{ infos.remarquesTuteur }}</td>
        </tr>
    </table>
    <br>
    <a href="{{ path("lea_prof_etuVisiteUnEdit",{ 'name': name}) }}"><button class="button">Modifier</button></a>

{% endblock %}