{% extends "::base.html.twig" %}
{% block top %}
    {{ parent() }}
    {% include "LEAProfBundle:Default:navbar.html.twig" %}
{% endblock %}

{% block body %}

    {% if post %}
        <p>Informations de mission soutenance mises à jour!</p>
    {% endif %}
    <b>L'ETUDIANT : {{ infos.et_pn }}</b><br/>
    <table>
        <tr>
            <td>Date rencontre (aaaa-mm-jj)</td>
            <td>{{ infos.dateRencontre }}</td>
        </tr>
        <tr>
            <td>Type rencontre</td>
            <td>{{ infos.typeRencontre }}</td>
        </tr>
        <tr>
            <td>Date validation (aaaa-mm-jj)</td>
            <td>{{ infos.dateValidation }}</td>
        </tr>
        <tr>
            <td>Quelle est la mission (ou partie de mission) choisie ?</td>
            <td>{{ infos.missions }}</td>
        </tr>
        <tr>
            <td>Dans quel environnement technique ?</td>
            <td>{{ infos.environnementTechnique }}</td>
        </tr>
        <tr>
            <td>Avec quels enjeux pour l'entreprise et/ou le client ?</td>
            <td>{{ infos.enjeux }}</td>
        </tr>
        <tr>
            <td>Validation de l'étudiant</td>
            <td>{{ infos.signatureEtud }}</td>
        </tr>
        <tr>
            <td>Remarques éventuelles</td>
            <td>{{ infos.remarquesEtud }}</td>
        </tr>
        <tr>
            <td>Validation du référent</td>
            <td>{{ infos.signatureReferent }}</td>
        </tr>
        <tr>
            <td>Remarques éventuelles)</td>
            <td>{{ infos.remarquesReferent }}</td>
        </tr>
        <tr>
            <td>Validation du tuteur</td>
            <td>{{ infos.signatureTuteur }}</td>
        </tr>
        <td>Remarques éventuelles</td>
        <td>{{ infos.remarquesTuteur }}</td>
        </tr>
    </table>
    <br>
    <a href="{{ path("lea_prof_etuMissionSoutenanceEdit",{ 'name': name}) }}"><button class="button">Modifier</button></a>

{% endblock %}