

<ul id="nav">
    <a name="menuprincipal"></a>
    <div id="home"><a href="" title="suivi"></a></div>

    <li class="menuHorizontal">
       Hey {{ name }}
    </li>

    <li class="menuHorizontal">

        &nbsp; <b>Type de suivi&nbsp;:</b> &nbsp;
            <select name="suiviGlobal" id="suiviGlobal"></select>
        <b>&nbsp;année&nbsp;:&nbsp;</b>
        <form action="" class="menuHorizontal">
            <select name="yearGlobal" id="yearGlobal"></select>
        </form>

        <b>&nbsp;formation&nbsp;:&nbsp;</b>
        <form action="" >
            <select name="formationGlobal" id="formationGlobal"></select>
        </form>
    </li>

</ul>
<div class="menuligne3">

            {% if page == "index" %}
                <a class="highlight" href="{{ path('lea_prof_homepage') }}">Accueil</a>
            {% else %}
                <a href="{{ path('lea_prof_homepage') }}">Accueil</a>
            {% endif %}
            :

            {% if page == "choisir" %}
                <a class="highlight" href="{{ path('lea_prof_choisir') }}">Choisir étudiant</a>
            {% else %}
            <a href="{{ path('lea_prof_choisir') }}">Choisir étudiant</a>
            {% endif %}
    :

            {% if page == "suivi" %}
                <a class="highlight" href="{{ path('lea_prof_suivi') }}">Suivre mes choix</a>
            {% else %}
                <a href="{{ path('lea_prof_suivi') }}">Suivre mes choix</a>
            {% endif %}
    :
            {% if page == "etu_attribues" %}
            <a class="highlight" href="{{ path('lea_prof_etuAttribues') }}">Etudiants attribués</a>
            {% else %}
            <a href="{{ path('lea_prof_etuAttribues') }}">Etudiants attribués</a>
            {% endif %}
    :
            {% if page == "soutenanceProf" %}
            <a class="highlight" href="{{ path('lea_prof_rapportSoutenance') }}">Rapport et soutenance</a>
            {% else %}
            <a href="{{ path('lea_prof_rapportSoutenance') }}">Rapport et soutenance</a>
            {% endif %}

</div>
<div class="menuligne4"></div>
</div>