{% javascripts '@LEAProfBundle/Resources/Js/choisirGlobal.js' %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

<div id="menu">
    <a name="menuprincipal"></a>
    <div id="home"><a href="" title="suivi"></a></div>
    <ul id="nav" >

        <li class="menuHorizontal">
            <b>Hey {{ name }}</b>
        </li>

        <li class="menuHorizontal">

            {% if etu == 0 %}
            &nbsp; <b>Type de suivi&nbsp;:</b> &nbsp;
                <select name="suiviGlobal" id="suiviGlobal">
                    {% for t in typeSelect.keys %}
                        {% if t==type %}
                            <option value="{{ t }}" selected="selected">{{ typeSelect.values[loop.index-1] }}</option>
                        {% else %}
                            <option value="{{ t }}">{{ typeSelect.values[loop.index-1] }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            {% endif %}


            <b>&nbsp;année&nbsp;:&nbsp;</b>
                <select name="anneeGlobal" id="yearGlobal">
                {% for k,v in listYears %}
                    {% if k==year %}
                        <option value="{{ k }}" selected="selected">{{ v }}</option>
                    {% else %}
                        <option value="{{ k }}">{{ v }}</option>
                    {% endif %}
                {% endfor %}
                    </select>

            {% if etu == 0 and resp == 1 %}
            <b> - </b>
                <select name="formationGlobal" id="formationGlobal">
                    {% if selectForma.keys[toutes]==formation %}
                        <option value="{{ selectForma.keys[0] }}" selected="selected">{{ selectForma.values[0] }}</option>
                    {% else %}
                        <option value="{{ selectForma.keys[0] }}">{{ selectForma.values[0] }}</option>
                    {% endif %}

                    {% for i in 1..toutes %}
                        {% if selectForma.keys[i]==formation %}
                            <option value="{{ selectForma.keys[i] }}" selected="selected">{{ selectForma.values[i] }}</option>
                        {% else %}
                            <option value="{{ selectForma.keys[i] }}">{{ selectForma.values[i] }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            {% endif %}
        </li>

    </ul>
</div>
</div>
