{% javascripts '@LEAProfBundle/Resources/Js/choisirGlobal.js' %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

<div id="menu">
    <a name="menuprincipal"></a>
    <div id="home"><a href="" title="suivi"></a></div>
    <ul id="nav" >

        <li class="menuHorizontal">
            <b>Hey {{ name }}</b>
        </li>

        <li class="menuHorizontal">

            &nbsp; <b>Type de suivi&nbsp;:</b> &nbsp;
                <select name="suiviGlobal" id="suiviGlobal">
                    {% for t in typeSelect.keys %}
                        {% if t==type %}
                            <option value="{{ t }}" selected="selected">{{ typeSelect.values[loop.index-1] }}</option>
                        {% else %}
                            <option value="{{ t }}">{{ typeSelect.values[loop.index-1] }}</option>
                        {% endif %}
                    {% endfor %}
                </select>

            <b>&nbsp;année&nbsp;:&nbsp;</b>
                <select name="anneeGlobal" id="suiviGlobal">
                {% for k,v in listYears %}
                    {% if k==year %}
                        <option value="{{ k }}" selected="selected">{{ v }}</option>
                    {% else %}
                        <option value="{{ k }}">{{ v }}</option>
                    {% endif %}
                {% endfor %}
                    </select>

            <b>&nbsp;formation&nbsp;:&nbsp;</b>
                <select name="formationGlobal" id="formationGlobal"></select>
        </li>

    </ul>
</div>
</div>
