{% extends "::base.html.twig" %}

{% block body %}

    {% javascripts '@LEAProfBundle/Resources/Js/choisir.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% include "LEAProfBundle:Default:navbar.html.twig" %}
    <div class="menuitem2" id="item_0">Informations concernant le rapport et la soutenance</div>

    <div id="cadre_0" class="contenu-item2 on">

        {% for info in infosSoutenance %}
            <h2>{{ info.formationRef }}</h2>
            <table width='95%' style='font-size:9pt;border:1px solid #000000;padding:3px 7px 2px 7px;'>
                <tr>
                    <td><b>Date de remise du rapport</b></td>
                    <td>{{ info.dateRemise }}</td>
                </tr>
                <tr>
                    <td><b>Dates de soutenances</b></td>
                    <td>{{ info.datesSoutenances }}</td>
                </tr>
                <tr>
                    <td><b>Longueur du rapport</b></td>
                    <td>{{ info.longueurRapport }}</td>
                </tr>
                <tr>
                    <td><b>Durée de la soutenance</b></td>
                    <td>{{ info.dureeSoutenance }}</td>
                </tr>
                <tr>
                    <td><b>Observations (réservées aux étudiants)</b></td>
                    <td>{{ info.observationsTous }}</td>
                </tr>
                <tr>
                    <td><b>Observations (réservées aux tuteurs uniquement)</b></td>
                    <td>{{ info.observationsTuteurs }}</td>
                </tr>
                <tr>
                    <td><b>Lien externe</b></td>
                    <td><a href="{{ info.lienExterne }}">{{ info.lienExterne }}</a></td>
                </tr>
            </table>
        {% endfor %}
    </div>

{% endblock %}
