{% extends "::base.html.twig" %}
{% block top %}
    {{ parent() }}
    {% include "LEAProfBundle:Default:navbar.html.twig" %}
{% endblock %}
{% block body %}

    {% javascripts '@LEAProfBundle/Resources/Js/suivi.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <table class="table table-striped">
        <thead>
            <tr>
                <td>Nom</td>
                <td>Prénom</td>
                <td>Formation</td>
                <td>Ville/Kilométrage</td>
                <td>Entreprise</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
        {% for etudiant in etudiants %}
            <tr>
                <td>{{ etudiant.nom }}</td>
                <td>{{ etudiant.prenom }}</td>
                <td>{{ etudiant.nomFormation }}</td>
                <td>{{ etudiant.ville }} / {{ etudiant.distance }}</td>
                <td>{{ etudiant.nomEntreprise }}</td>
                <td><button class="button" id="{{ etudiant.alternanceCle }}">Retirer</button></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}