
{% extends "::base.html.twig" %}
{% block top %}
    {{ parent() }}
    {% include "::navbar.html.twig" %}
{% endblock %}
{% block body %}



    {% javascripts '@LEARespBundle/Resources/Js/choisir.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <div class="menuitem2-current" id="item_0"><a href="#">Attribution tutuers aux étudiants</a></div>

    <br/><br/>

    <form action="{{  path('lea_resp_changeForm',{'name':name}) }}" method="post">
        <span>Choisissez la formation : </span>
        <select id="formation" name="formation" class="form-control" >
            {% for forma in selectForma.keys %}
                {% if forma==formation %}
                    <option value="{{ forma }}" selected="selected">{{ selectForma.values[loop.index-1] }}</option>
                {% else %}
                    <option value="{{ forma }}">{{ selectForma.values[loop.index-1] }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </form>


    {{ form_start(form) }}
    {{ form_errors(form) }}


    <table class="edt" style="font-size:9pt">
    <tr class="entete">
        <th>Nom</th>
        <th>Prénom</th>
        <th>Formation</th>
        <th>Tuteurs candidats</th>
        <th>Tuteurs précédents</th>
        <th>Ville</th>
        <th>Entreprise</th>
        <th>Tuteurs</th>
        <th>Détails</th>
    </tr>



    {% if listEtu %}

        {% for etu in listEtu %}
            {% if etu.tuteurSelectionne == "aucun"  %}
                <tr style='border-bottom:1pt solid grey;'>
            {% else %}
                <tr bgcolor='#d0d0d0' style='border-bottom:1pt solid grey;'>
            {% endif %}
            <td>{{ etu.nom_etud }}</td>
            <td>{{ etu.nom_prenom }}</td>
            <td>{{ etu.formation }}</td>
            <td>{{ form_row(form[etu.alternanceCle]) }}</td>
            <td>Inconnue</td>
            <td>{{ etu.ville }}</td>
            <td>{{ etu.entreprise }}</td>
            <td>{{ etu.tuteursPotentiel.tuteurRef }}</td>
            <td onclick="showModal({{ etu.alternanceCle }})"><a href="#">Détails</a></td>
            <td id= "{{ etu.alternanceCle }}" style="display: none;border:3px solid black;background-color:rgba(100,100,100,1);" >
                <table border='1' bgcolor='#aaaaaa'>
                    <tr><td>Etudiant </td> <td> {{ etu.nom_etud }}</td></tr>
                    <tr><td>Referent</td> <td> {{ etu.referent }}</td></tr>
                    <tr><td>Missions</td><td> {{ etu.mission }}</td></tr>
                    <tr><td>Services</td><td> {{ etu.service }}</td></tr>
                    <tr><td>Envirnmnt Tech.</td><td> {{ etu.tech }}</td></tr>
                    <tr><td><a href="#" onclick="hideModal({{ etu.alternanceCle }})">Cacher </a></td><td></td></tr>
                </table>
            </td>
        </tr>

        {% endfor %}
        </table>
    {% endif %}

    {{ form_end(form) }}



{% endblock %}