
{% extends "::base.html.twig" %}

{% block body %}

    {% include "LEARespBundle:Default:navbar.html.twig" %}

    <div class="menuitem2" id="item_0">Informations concernant le rapport et la soutenance</div>

    <div id="cadre_0" class="contenu-item2 on">

    {{ form_start(form) }}
    {{ form_errors(form) }}

        <h2>{{ forma }}</h2>

        <table width='95%' style='font-size:9pt;border:1px solid #000000;padding:3px 7px 2px 7px;'>
            <tr>
                <td><b>Date de remise du rapport</b></td>
                <td>{{ form_row(form.dateRemise,{'attr':{'size':'60'}}) }}</td>
            </tr>
            <tr>
                <td><b>Dates de soutenances</b></td>
                <td>{{ form_row(form.datesSoutenances,{'attr':{'size':'60'}}) }}</td>
            </tr>
            <tr>
                <td><b>Longueur du rapport</b></td>
                <td>{{ form_row(form.longueurRapport,{'attr':{'size':'60'}}) }}</td>
            </tr>
            <tr>
                <td><b>Durée de la soutenance</b></td>
                <td>{{ form_row(form.dureeSoutenance,{'attr':{'size':'60'}}) }}</td>
            </tr>
            <tr>
                <td><b>Observations (réservées aux étudiants)</b></td>
                <td>{{ form_row(form.observationsTous,{'attr':{'cols':'60','rows':'6'}}) }}</td>
            </tr>
            <tr>
                <td><b>Observations (réservées aux tuteurs uniquement)</b></td>
                <td>{{ form_row(form.observationsTuteurs,{'attr':{'cols':'60','rows':'6'}}) }}</td>
            </tr>
            <tr>
                <td><b>Lien externe</b></td>
                <td>{{ form_row(form.lienExterne,{'attr':{'cols':'60','rows':'2'}}) }}</td>
            </tr>
            <tr>
                <td>
                    <a href="{{ path('lea_resp_rapportSoutenance') }}">Revenir</a>
                    <input type="submit" value="Enregistrer" name="Enregistrer"/>
                </td>
            </tr>
        </table>

    {{ form_end(form) }}
    </div>

{% endblock %}