{% extends "::base.html.twig" %}

{% block body %}



    {% if role=='prof' %}
        {% include "LEAProfBundle:Default:navbar.html.twig" %}
        <div class="container-fluid">
        <a href="{{ path('lea_prof_modifierEtuGeneral',{'name':name}) }}">Modifier</a>
    {% else %}
        <h1> Mise à jour des informations concernant  </h1>
        <div class="row">
            Informations mises à jour
            <a href="{{ path('lea_etu_homepage',{'name':name}) }}"> Retour accueil </a>
        </div>
    {% endif %}

    <div class="container-fluid">

        <div class="row">
            <h2> {{ infos.prenom_etud }} {{ infos.nom_etud }} </h2>
        </div>
        <div class="row">
            <strong>Télephone: </strong>
            <span> {{ infos.etuTel }} </span>
            <strong>Email: </strong>
            <span> {{ infos.etuMail }} </span>
        </div>
        <div class="row">
            <strong>Entreprise: </strong>
            <span> {{ infos.entrepriseNom }} </span>
            <strong>Référent: </strong>
            <span>{{ infos.refPre }} {{ infos.refNom }}</span>
            {% set refs = infos.ref1Cle  |split('_')  %}
            <span>{{ refs[0] }} {{ refs[1] }}</span>
        </div>
        <div class="row">
            <strong>Télephone référent: </strong>
            <span> {{ infos.refTel }} </span>
            <strong>Email: </strong>
            <span> {{ infos.coordRef }}</span>
            <span> {{ infos.coordRef2 }}</span>
        </div>
        <div class="row">
            <strong>Regie: </strong>
            <span> {{ infos.regieEntrCle | upper }} </span>
            <strong>Référents: </strong>
            {% set refs = infos.regieReferentRef  |split('_')  %}
            <span>{{ refs[0] }} {{ refs[1] }}</span>
            {% set refs = infos.regieReferent1Ref  |split('_')  %}
            <span>{{ refs[0] }} {{ refs[1] }}</span>
        </div>
        <div class="row">
            <strong>Coordonnées: </strong>
            <span> {{ infos.coordRegieRef }} </span>
            <span> {{ infos.coordRegieRef2 }} </span>
        </div>
        <div class="row">
            <strong>Signature contrat: </strong>
            <span> {{ infos.contratSignContrat }} </span>
            <strong>Début: </strong>
            <span>{{ infos.contratDeb }} </span>
            <strong>Fin: </strong>
            <span> {{ infos.contratFin }}</span>
        </div>
        <div class="row">
            <strong> Tuteur: </strong>
            <span> {{ infos.prof_prenom }} </span>
            <span> {{ infos.prof }} </span>
            <strong>Tel: </strong>
            <span> {{ infos.prof_tel }}</span>
            <strong> Email: </strong>
            <span>{{ infos.prof_mail }} </span>
        </div>

    </div>
{% endblock %}