{% extends "::base.html.twig" %}

{% block body %}
        <div>
            <h2>Bienvenue à toi jeune étudiant du nom de  {{ name }} ! </h2>
        </div>
        <div>
            <h3>Informations</h3>
            <p> - Votre tuteur : {{ tuteur }} </p>
        </div>
        <div>
            <h3>Opérations</h3>
            <a href="{{ path('lea_etu_infosStage') }}">
                <button>Mise à jour information stage</button>
            </a>
            <br/>
            <a href="{{ path('lea_etu_infosMission') }}">
                <button>Mise à jour mission stage</button>
            </a>
        </div>
        <div>
            <h3>Livret Stage</h3>
            <a href="{{ path('lea_etu_rencontreTuteur') }}">
                <button>Rencontre avec tuteur</button>
            </a>
            <br/>
            <a href="{{ path('lea_etu_visiteUn') }}">
                <button>Première visite en entreprise</button>
            </a>
            {% if missionSoutenance %}
            <br/>
            <a href="{{ path('lea_etu_missionSoutenance') }}">
                <button>Sujet de la mission</button>
            </a>
            {%  endif %}
            {% if deuxiemeVisite %}<br/>
            <a href="{{ path('lea_etu_visiteDeux') }}">
                <button>Deuxième visite en entreprise</button>
            </a>
            {% endif %}
        </div>
        <div>
            <h3>Rapport et soutenance</h3>
            <a href="{{ path('lea_etu_soutenanceRapport') }}">
                <button>Dates & consignes générales</button>
            </a>
        </div>
        <div>
            <a href="">
                <h3>Déconnexion</h3>
            </a>
        </div>
    </div>
{% endblock %}