{% extends "::base.html.twig" %}

{% block body %}
    <div class="container-fluid">
        <form action="{{ path("lea_etu_infosMission") }}" method="post">
            {{ form_widget(form) }}
            <input type="submit" name="Enregistrer" value="Enregistrer"/>
            <div>
                <a href="{{ path('lea_etu_homepage') }}">Revenir</a>
            </div>
        </form>
        <div>
            C'est ca : {{ altref }} et {{ infosMissions.service }}
        </div>

    </div>

{% endblock %}