{% extends "::base.html.twig" %}


{% block body %}

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js" type="text/javascript"></script>

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

    {% javascripts '@LEAEtuBundle/Resources/Js/infosStage.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}


    <div class="container-fluid">

        {{ form_start(form) }}

            <div>
                {{ form_errors(form) }}
            </div>

            <div>
                {{ form_row(form.tel) }}
            </div>
            <div>
                {{ form_row(form.mail) }}
            </div>
            <div>
                {{ form_row(form.mailLille1) }}
            </div>
            <div>
                {{ form_row(form.tuteur) }}
            </div>
            <div>
                {{ form_row(form.entreprise) }}
                <a href="{{ path('lea_etu_inscrireEntr',{'name':name} ) }}">
                    ---- Nouvelle entreprise
                </a>
            </div>
            <div>
                {{ form_row(form.bureau) }}
                <a id="insBur" >
                    ---- Nouveau Bureau
                </a>
            </div>
            <div>
                {{ form_row(form.referent) }}
                <a id="insRef">
                    ---- Nouveau Référent
                </a>
            </div>
            <div>
                {{ form_row(form.referent1) }}
                <a id="insRef">
                    ---- Nouveau Référent
                </a>
            </div>
            <div>
                {{ form_row(form.datecontrat) }}
            </div>
            <div>
                {{ form_row(form.dateDebutcontrat) }}
            </div>
            <div>
                {{ form_row(form.dateFincontrat) }}
            </div>
            <div>
                {{ form_row(form.entrepriseAlt) }}
                <a href="{{ path('lea_etu_inscrireEntr',{'name':name} ) }}">
                    ---- Nouvelle entreprise Regie
                </a>
            </div>
            <div>
                {{ form_row(form.bureauAlt) }}
                <a id="insBurAlt" >
                    ---- Nouveau Bureau Regie
                </a>
            </div>
            <div>
                {{ form_row(form.referentAlt) }}
                <a id="insRefAlt">
                    ---- Nouveau Référent Regie
                </a>
            </div>
            <div>
                {{ form_row(form.referent1Alt) }}
                <a id="insRefAlt">
                    ---- Nouveau Référent Regie
                </a>
            </div>

            <input type="submit" name="Enregistrer" value="Enregistrer"/>
        
        {{ form_end(form) }}
        

        <div>
            <a href="{{ path('lea_etu_homepage',{'name':name}) }}">Revenir</a>
        </div>
    </div>

{% endblock %}