{% extends "::base.html.twig" %}


{% block body %}


    {% if role=='prof' %}
        {% include "LEAProfBundle:Default:navbar.html.twig" %}
    {% endif %}

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js" type="text/javascript"></script>

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

    {% javascripts '@LEAEtuBundle/Resources/Js/infosStage.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <table align='center' class='edt' style='font-size:11px'>

        {{ form_start(form) }}

        <tr>
            <td>
                {{ form_errors(form) }}
            </td>
        </tr>

        <tr class='entete'>
            <td colspan='2' style='border-width: 1px;border-style:solid;text-align:left'>
                L'ETUDIANT
                {{ prenom }} {{ nom }}
            </td>
        </tr>

        <tr>
            <td>
                téléphone perso
            </td>
            <td>
                {{ form_row(form.tel) }}
            </td>
        </tr>
        <tr>
            <td>
                e-mail
            </td>
            <td>
                {{ form_row(form.mail) }}
            </td>
        </tr>
        <tr>
            <td>
                e-mail lille1
            </td>
            <td>
                {{ form_row(form.mailLille1) }}
            </td>
        </tr>

        {% if role == "prof" %}
            <tr class='entete'>
                <td colspan='2' style='border-width: 1px;border-style:solid;text-align:left'>
                    LE TUTEUR : {{ form_row(form.tuteur) }}
                </td>
            </tr>
        {% else %}
            <tr class='entete'>
                <td colspan='2' style='border-width: 1px;border-style:solid;text-align:left'>
                    LE TUTEUR : {{ infosStage.tuteur }}
                </td>
            </tr>
        {% endif %}
        <tr class='entete' >
            <td style="border-width: 1px;border-style:solid;text-align:left" colspan="2">
                <span>
                    L'ENTREPRISE
                </span>
                <span>
                    {{ form_row(form.entreprise) }}
                </span>
                <span>
                    <a href="{{ path('lea_etu_inscrireEntr') }}">
                        ---- Nouvelle entreprise
                    </a>
                </span>

            </td>
        </tr>
        <tr>
            <td>
                Bureau
            </td>
            <td>
                {{ form_row(form.bureau) }}
                <a href="#" id="modifBur" >
                    ---- modifier adresse siège
                </a>
                <a href="#" id="insBur" >
                    ---- nouveau Bureau
                </a>
            </td>
        </tr>
        <tr>
            <td>
                Referent
            </td>
            <td>
                {{ form_row(form.referent) }}
                <a href="#" id="modifRef">
                    ---- modifier coordonnées
                </a>
                <a href="#" id="insRef">
                    ---- nouveau Référent
                </a>
            </td>
        </tr>
        <tr>
            <td>
                Referent 2
            </td>
            <td>
                {{ form_row(form.referent1) }}
                <a href="#" id="modifRef1">
                    ---- modifier coordonnées
                </a>
                <a href="#" id="insRef">
                    ---- nouveau Référent
                </a>
            </td>
        </tr>
        <tr>
            <td>
                Date début de signature du contrat
            </td>
            <td>
                {{ form_row(form.datecontrat) }}
            </td>
        </tr>
        <tr>
            <td>
                Date début du contrat
            </td>
            <td>
                {{ form_row(form.dateDebutcontrat) }}
            </td>
        </tr>
        <tr>
            <td>
                Date fin du contrat
            </td>
            <td>
                {{ form_row(form.dateFincontrat) }}
            </td>
        </tr>
        <tr class='entete'>
            <td style='border-width: 1px;border-style:solid;text-align:left' colspan="2">
                REGIE

                {{ form_row(form.entrepriseAlt) }}
                <a href="{{ path('lea_etu_inscrireEntr') }}">
                    ---- Nouvelle entreprise Regie
                </a>
            </td>
        </tr>
        <tr>
            <td>
                Bureau
            </td>
            <td>
                {{ form_row(form.bureauAlt) }}
                <a href="#" id="modifBurAlt" >
                    ---- modifier adresse siège
                </a>
                <a href="#" id="insBurAlt" >
                    ---- nouveau Bureau Regie
                </a>
            </td>
        </tr>
        <tr>
            <td>
                Referent
            </td>
            <td>
                {{ form_row(form.referentAlt) }}
                <a href="#" id="modifRefAlt">
                    ---- modifier coordonnées
                </a>
                <a href="#" id="insRefAlt">
                    ---- nouveau Référent Regie
                </a>
            </td>
        </tr>
        <tr>
            <td>
                Referent 2
            </td>
            <td>
                {{ form_row(form.referent1Alt) }}
                <a href="#" id="modifRef1Alt">
                    ---- modifier coordonnées
                </a>
                <a href="#" id="insRef1Alt">
                    ---- nouveau Référent Regie
                </a>
            </td>
        </tr>

        <tr>
            <td>
                {% if role=="prof" %}
                    <a href="{{ path('lea_prof_etuGeneral') }}">Revenir</a>
                {% else %}
                    <a href="{{ path('lea_etu_homepage') }}">Revenir</a>
                {% endif %}
                <input type="submit" name="Enregistrer" value="Enregistrer"/>
            </td>

        </tr>

        {{ form_end(form) }}

    </table>

{% endblock %}