{% extends "::base.html.twig" %}

{% block body %}
    <div class="container-fluid">
        <h1>{{ entr }}</h1>
        <h2>Modifier {{ bureau }}</h2>
        <form action="{{ path("lea_etu_modifBureau",{'entr':entr,'bureau':bureau}) }}" method="post">
            {{ form_widget(form) }}
            <input type="submit" name="Modifier" value="Modifier"/>
        </form>
        <a href="{{ path("lea_etu_infosStage") }}">
            <button>Annuler</button>
        </a>
    </div>

{% endblock %}