{% extends "::base.html.twig" %}

{% block body %}

    <p>Bonjour {{ infos.et_pn }}</p>
    {% if infoExist %}
        <b>L'ETUDIANT : {{ infos.et_pn }}</b><br/>
        {% if rendu == false %}
        <form action="{{ path("lea_etu_rencontreTuteur") }}" method="post">
        {%  endif %}
        <table>
        <tr>
            <td>
                Date rencontre (aaaa-mm-jj) : {{ infos.dateRencontre }}<br/>
                Entreprise chosie : {{ infos.entreprise }}<br/>
                Service/Projet : {{ infos.service }}<br/>
                (éventuellement client) : {{ infos.client }}<br/>
            </td>
        </tr>
        <tr>
            <td><div>
                    <b>Quels sont (ou seront) les missions confiées ?</b><br/>
                    <div>
                        <p>{{ infos.missions }}</p>
                    </div>
                </div></td>
        </tr>
        <tr>
            <td><div>
                    <b>Dans quel environnement technique ?</b><br/>
                    <div>
                        <p>{{ infos.environnementTechnique }}</p>
                    </div>
                </div></td>
        </tr>
        <tr>
            <td><div>
                    <b>Comment se passe l'intégration dans l'entreprise ?</b><br/>
                    <div>
                        <p>{{ infos.integrationEntreprise }}</p>
                    </div>
                </div></td>
        </tr>
        <tr>
            <td>
                <div>
                    {% if rendu %}
                        <b>Validation de l'étudiant </b>{{ infos.signatureEtud }}. (remarques éventuelles)<br/>
                        <div>
                            <p>{{ infos.remarquesEtud }}</p>
                        </div>
                    {%  else %}
                        {{ form_widget(form) }}
                    {% endif %}
                </div>
            </td>
        </tr>
        <tr>
            <td><div>
                    <b>Validation du tuteur </b>{{ infos.signatureTuteur }}. (remarques éventuelles)<br/>
                    <div>
                        <p>{{ infos.remarquesTuteur }}</p>
                    </div>
                </div></td>
        </tr>
            {% if rendu == false %}
                <tr><td><input type="submit" name="Enregistrer" value="Enregistrer"/></td></tr>
            {% endif %}
        </table>
        </form>
    {% else %}
        <p>Il n'y a aucune informations à afficher pour le moment</p>
    {% endif %}
    <a href="{{ path("lea_etu_homepage") }}">Retour à l'accueil</a>

{% endblock %}