{% extends "::base.html.twig" %}

{% block body %}

    <p>Bonjour {{ infos.et_pn }}</p>
    {% if infoExist %}
        <b>L'ETUDIANT : {{ infos.et_pn }}</b><br/>
        {% if rendu == false %}
        <form action="{{ path("lea_etu_visiteUn") }}" method="post">
        {% endif %}
            <table>
                <tr>
                    <td>
                        Date rencontre (aaaa-mm-jj) : {{ infos.dateRencontre }}<br/>
                    </td>
                </tr>
                <tr>
                    <td><div>
                            <b>Le travail est-il en adéquation avec la mission confiée ?</b><br/>
                            <div>
                                <p>{{ infos.adequationMission }}</p>
                            </div>
                        </div></td>
                </tr>
                <tr>
                    <td><div>
                            <b>Comment s'est passé l'intégration de l'étudiant ?</b><br/>
                            <div>
                                <p>{{ infos.integrationEtudiant }}</p>
                            </div>
                        </div></td>
                </tr>
                <tr>
                    <td>
                        <div>
                            {% if rendu %}
                                <b>Validation de l'étudiant </b>{{ infos.signatureEtud }}. (remarques éventuelles)<br/>
                                <div>
                                    <p>{{ infos.remarquesEtud }}</p>
                                </div>
                            {%  else %}
                                {{ form_widget(form) }}
                            {% endif %}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><div>
                            <b>Validation du référent </b>{{ infos.signatureReferent }}. (remarques éventuelles)<br/>
                            <div>
                                <p>{{ infos.remarquesReferent }}</p>
                            </div>
                        </div></td>
                </tr>
                <tr>
                    <td><div>
                            <b>Validation du tuteur </b>{{ infos.signatureTuteur }}. (remarques éventuelles)<br/>
                            <div>
                                <p>{{ infos.remarquesTuteur }}</p>
                            </div>
                        </div></td>
                </tr>
                {% if rendu == false %}
                    <tr><td><input type="submit" name="Enregistrer" value="Enregistrer"/></td></tr>
                {% endif %}
            </table>
        </form>
    {% else %}
        <p>Il n'y a aucune informations à afficher pour le moment</p>
    {% endif %}
    <a href="{{ path("lea_etu_homepage") }}">Retour à l'accueil</a>

{% endblock %}