{% extends "::base.html.twig" %}
{% block top %}
    {{ parent() }}
    {% include "::navbar.html.twig" %}
{% endblock %}
{% block body %}

    {% javascripts '@LEARespBundle/Resources/Js/choisir.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <h2>Besoins en termes d'encadrement</h2>

    <form action="{{  path('lea_prof_changeForm') }}" method="post">
        <select id="formation" name="formation" class="form-control" >
            {% for forma in listForm.keys %}
                {% if forma==formation %}
                    <option value="{{ forma }}" selected="selected">{{ listForm.values[loop.index-1] }}</option>
                {% else %}
                    <option value="{{ forma }}">{{ listForm.values[loop.index-1] }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </form>
    <br/>
    <table border="1">
        <thead>
        <tr>
            <th>Formation</th>
            <th>Sans tuteur</th>
            <th>Sans tuteur ni entreprise</th>
        </tr>
        </thead>
        <tbody>
        {% for res in result %}
            <tr>
                <td>{{ res.formationRef }}</td>
                <td align="center">{{ res.nb }}</td>
                <td align="center">{{ res.nbSans }}</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <td>
                Total
            </td>
            <td align="center">
                {{ totalEtudSansTuteur }}
            </td>
            <td align="center">
                {{ totalEtudSansTuteurNiEntreprise }}
            </td>
        </tr>
        </tfoot>
    </table>
    <br/>
    <a href="{{ path('lea_resp_stats_index') }}"><button class="button">Retour</button></a>
{% endblock %}