{% extends "::base.html.twig" %}

{% block body %}

    {% javascripts '@LEARespBundle/Resources/Js/choisir.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% include "LEARespBundle:Default:navbar.html.twig" %}

    <h2>Nombre d'étudiants par formation</h2>

    <form action="{{  path('lea_prof_changeForm') }}" method="post">
        <select id="formation" name="formation" class="form-control" >
            {% for forma in listForm.keys %}
                {% if forma==formation %}
                    <option value="{{ forma }}" selected="selected">{{ listForm.values[loop.index-1] }}</option>
                {% else %}
                    <option value="{{ forma }}">{{ listForm.values[loop.index-1] }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </form>

    <table>
        <thead>
            <tr>
                <th>Formation</th>
                <th>Nombre étudiants</th>
                <th>Sans tuteur</th>
            </tr>
        </thead>
        <tbody>
            {% for res in result %}
                <tr>
                    <td>{{ res.formationRef }}</td>
                    <td>{{ res.nb }}</td>
                    <td>{{ res.nbSans }}</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td>
                    Total ({{ nbForm }} form.)
                </td>
                <td>
                    {{ totalEtud }}
                </td>
                <td>
                    {{ totalEtudSansTuteur }}
                </td>
            </tr>
        </tfoot>
    </table>
{% endblock %}