{% extends "::base.html.twig" %}
{% block top %}
    {{ parent() }}
    {% include "::navbar.html.twig" %}
{% endblock %}
{% block body %}

    {% javascripts '@LEARespBundle/Resources/Js/choisir.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <h2>Répartition de l'encadrement étudiants par tuteurs</h2>

    <form action="{{  path('lea_prof_changeForm') }}" method="post">
        <select id="formation" name="formation" class="form-control" >
            {% for forma in listForm.keys %}
                {% if forma==formation %}
                    <option value="{{ forma }}" selected="selected">{{ listForm.values[loop.index-1] }}</option>
                {% else %}
                    <option value="{{ forma }}">{{ listForm.values[loop.index-1] }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </form>
    <br/>
   <table border="1">
       <thead>
            <tr>
                <th>Nombre tuteurs</th>
                <th></th>
                <th>Nombre étudiants</th>
            </tr>
       </thead>
       <tbody>
       {% for res in result %}
           <tr>
               <td>{{ res.count }}</td>
               <td align="center">encadre</td>
               <td align="center">{{ res.nb }}</td>
           </tr>
       {% endfor %}
       </tbody>
       <tfoot>
            <tr>
                <td>{{ totalTuteurs }}</td>
                <td align="center">encadre tout</td>
                <td align="center">{{ totalEtud }}</td>
            </tr>
       </tfoot>
   </table>
    <br/>
    <a href="{{ path('lea_resp_stats_index') }}"><button class="button">Retour</button></a>
{% endblock %}